.ProfileSidebar {
  font-weight: 100;
  position: relative;
}

.ProfileSidebar .ProfileSidebar-image {
  border-radius: 100px;
  display: block;
  margin: 16px auto 0;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.ProfileSidebar .ProfileSidebar-image img {
  border-radius: 100px;
  display: block;
  width: 100%;
}

.ProfileSidebar .ProfileSidebar-image:after,
.ProfileSidebar .ProfileSidebar-image:before {
  border: 1px solid #454545;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
}

.ProfileSidebar .ProfileSidebar-image:after {
  border-bottom: 0;
  border-radius: 100px 100px 0 0;
  bottom: 50%;
  top: 0;
}

.ProfileSidebar .ProfileSidebar-image:before {
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  top: 8px;
}

.ProfileSidebar .ProfileSidebar-profiles {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.ProfileSidebar .ProfileSidebar-profiles .ProfileSidebar-profiles-item {
  display: inline-block;
  font-size: 40px;
  margin: 4px 5px;
}

.ProfileSidebar .ProfileSidebar-profiles .ProfileSidebar-profiles-item .ProfileSidebar-profiles-item-link {
  transition: color 0.15s;
}

.ProfileSidebar .ProfileSidebar-profiles .ProfileSidebar-profiles-item .ProfileSidebar-profiles-item-link:hover {
  text-decoration: none;
}

.ProfileSidebar-profiles-item .ProfileSidebar-profiles-item--stackoverflow
