<header class="ProfileSidebar" id="ProfileSidebar">
  <div class="ProfileSidebar-image">
    <img src="/images/picture.jpeg" />
  </div>

  <ul class="ProfileSidebar-profiles">
    <li class="ProfileSidebar-profiles-item ProfileSidebar-profiles-item--github">
      <a class="ProfileSidebar-profiles-item-link" href="https://github.com/http-teapot" title="http-teapot">
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="ProfileSidebar-profiles-item ProfileSidebar-profiles-item--twitter">
      <a class="ProfileSidebar-profiles-item-link" href="https://twitter.com/teapot" title="teapot">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li class="ProfileSidebar-profiles-item ProfileSidebar-profiles-item--stackoverflow">
      <a class="ProfileSidebar-profiles-item-link" href="http://stackoverflow.com/users/2155387/thomas-potaire" title="thomaspotaire">
        <i class="fa fa-stack-overflow"></i>
      </a>
    </li>
  </ul>
</header>
