<aside class="ProfileSidebar">
  <div class="ProfileSidebar-image">
    <img src="/images/picture.jpeg" />
  </div>
  <div class="ProfileSidebar-name">Thomas Potaire</div>

  <div class="ProfileSidebar-username" href="https://twitter.com/teapot">Also known as Teapot</div>

  <ul class="ProfileSidebar-profiles">
    <li class="ProfileSidebar-profiles-item ProfileSidebar-profiles-item--github">
      <a class="ProfileSidebar-profiles-item-link" href="https://github.com/http-teapot" title="http-teapot">
        <i class="fa fa-github"></i> http-teapot
      </a>
    </li>
    <li class="ProfileSidebar-profiles-item ProfileSidebar-profiles-item--twitter">
      <a class="ProfileSidebar-profiles-item-link" href="https://twitter.com/teapot" title="teapot">
        <i class="fa fa-twitter"></i> teapot
      </a>
    </li>
    <li class="ProfileSidebar-profiles-item ProfileSidebar-profiles-item--stackoverflow">
      <a class="ProfileSidebar-profiles-item-link" href="http://stackoverflow.com/users/2155387/thomas-potaire" title="thomaspotaire">
        <i class="fa fa-stack-overflow"></i> thomaspotaire
      </a>
    </li>
  </ul>
  <!-- <nav class="ProfileSidebar-navigation">
    <ul>
      <li>
  </nav> -->
</aside>
