body {
  background-color: #f9f9f9;
  color: #141414;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
}

a {
  color: #e56e6d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 200;
  line-height: 1.25;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1, h2 {
  font-size: 28px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 12px 0;
}

.Layout.Layout--default .ProfileSidebar {
  height: 100%;
  position: fixed;
  width: 35%;
}

.Layout.Layout--default .ProfileSidebar .ProfileSidebar-profiles {
  position: absolute;
  bottom: 10px;
}

.Layout.Layout--default .Content,
.Layout.Layout--default .Footer {
  margin-left: 35%;
  padding: 32px;
}

.Layout.Layout--default .Footer {
  padding-top: 0;
}

.Layout.Layout--default .Footer {
  color: #636363;
  font-size: 12px;
  text-align: center;
}

@media (min-width: 1048px) {
  .Layout.Layout--default .ProfileSidebar {
    width: 25%;
  }

  .Layout.Layout--default .Content,
  .Layout.Layout--default .Footer {
    margin-left: 25%;
    padding: 64px;
  }

  .Layout.Layout--default .Footer {
    padding-top: 0;
  }
}

@media (max-width: 800px) {
  .Layout.Layout--default .ProfileSidebar,
  .Layout.Layout--default .Content {
    position: static;
    width: auto;
  }

  .Layout.Layout--default .ProfileSidebar .ProfileSidebar-profiles {
    position: static;
  }

  .Layout.Layout--default .Content,
  .Layout.Layout--default .Footer {
    margin-left: 0;
    padding: 20px;
  }
}
