.Post h1,
.Post h2,
.Post h3,
.Post h4,
.Post h5,
.Post h6 {
  margin-top: 16px;
}

.Post h1 + h1, .Post h1 + h2, .Post h1 + h3, .Post h1 + h4, .Post h1 + h5, .Post h1 + h6, .Post h1 + p,
.Post h2 + h1, .Post h2 + h2, .Post h2 + h3, .Post h2 + h4, .Post h2 + h5, .Post h2 + h6, .Post h2 + p,
.Post h3 + h1, .Post h3 + h2, .Post h3 + h3, .Post h3 + h4, .Post h3 + h5, .Post h3 + h6, .Post h3 + p,
.Post h4 + h1, .Post h4 + h2, .Post h4 + h3, .Post h4 + h4, .Post h4 + h5, .Post h4 + h6, .Post h4 + p,
.Post h5 + h1, .Post h5 + h2, .Post h5 + h3, .Post h5 + h4, .Post h5 + h5, .Post h5 + h6, .Post h5 + p,
.Post h6 + h1, .Post h6 + h2, .Post h6 + h3, .Post h6 + h4, .Post h6 + h5, .Post h6 + h6, .Post h6 + p {
  margin-top: 4px;
}

.Post h1,
.Post h2,
.Post h3,
.Post h4,
.Post h5,
.Post h6 {
  margin-top: 16px;
}


.Post .Post-date {
  color: #747474;
  float: right;
  font-size: 14px;
  line-height: 42px;
}

.Post .Post-title {
  border-bottom: 1px solid #E1E1E1;
  margin: 0 0 6px;
  padding: 0 0 10px;
}

.Post .Post-content p:first-child {
  font-size: 20px;
}

@media (max-width: 600px) {
  .Post .Post-date {
    float: none;
    line-height: 18px;
    text-align: right;
  }
}
