<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} - Thomas Potaire</title>
  <link rel="stylesheet" href="/css/libraries/fontawesome/font-awesome.css">
  <link rel="stylesheet" href="/css/layout/default.css">
</head>

<body class="Layout Layout--default">
  <section class="Content">
    {{ content }}
  </section>
  <footer class="Footer">
    Copywrong &copy; {{ "now"|date: "%Y" }} Thomas Potaire
  </footer>
  <script src="/js/includes/ProfileNav.js"></script>
</body>
</html>
